<%= form_with(model: avaliation_question, local: true) do |q| %>
  <!-- Questions -->
  <div id="avaliation">
      <div class="question my-3">
          <div class="card">
              <div class="card-header">Avalation Question </div>
              <div class="card-body" id="enunciate">
                  <%= q.text_area :Statement, class:"form-control", rows:"10", placeholder:"Write the enunciate" %>
              </div>
              <div class="card-body">
                  <div class="input-group-prepend">
                      <div class="input-group-text">A</div>
                      <%= q.text_field :altA, class:"form-control", placeholder:"Write the A answer" %>
                  </div>
                  <div class="input-group-prepend">
                      <div class="input-group-text">B</div>
                      <%= q.text_field :altB, class:"form-control", placeholder:"Write the B answer" %>
                  </div>
                  <div class="input-group-prepend">
                      <div class="input-group-text">C</div>
                      <%= q.text_field :altC, class:"form-control", placeholder:"Write the C answer" %>
                  </div>
                  <div class="input-group-prepend">
                      <div class="input-group-text">D</div>
                      <%= q.text_field :altD, class:"form-control", placeholder:"Write the D answer" %>
                  </div>
                  <div class="input-group-prepend">
                      <div class="input-group-text">E</div>
                      <%= q.text_field :altE, class:"form-control", placeholder:"Write the E answer" %>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Questions Ends -->
<% end %>
