<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:</strong>
  <%= @avaliation_question.Statement %>
</p>

<p>
  <strong>Alta:</strong>
  <%= @avaliation_question.altA %>
</p>

<p>
  <strong>Altb:</strong>
  <%= @avaliation_question.altB %>
</p>

<p>
  <strong>Altc:</strong>
  <%= @avaliation_question.altC %>
</p>

<p>
  <strong>Altd:</strong>
  <%= @avaliation_question.altD %>
</p>

<p>
  <strong>Alte:</strong>
  <%= @avaliation_question.altE %>
</p>

<p>
  <strong>Avaliation:</strong>
  <%= @avaliation_question.avaliation %>
</p>

<%= link_to 'Edit', edit_avaliation_question_path(@avaliation_question) %> |
<%= link_to 'Back', avaliation_questions_path %>
