<!-- Mini-Cards-->
<div class="row" id="miniCharts">
    <div class="col-sm-3">
            <div class="card card-mini">
                    <div class="card-mini-body">
                        <div class="row">
                            <div class="mini-left">
                                <div class="card-mini-icon card-orange">
                                    <i class="fas fa-user-tie"></i>
                                </div>
                            </div>
                            <div class="mini-right">
                                <p class="card-mini-text">Teachers</p>
                                <h4 class="card-mini-title"><%= Teacher.all.count %></h4>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="col-sm-3">
            <div class="card card-mini">
                    <div class="card-mini-body">
                        <div class="row">
                            <div class="mini-left">
                                <div class="card-mini-icon card-blue">
                                        <i class="fas fa-user-graduate"></i>
                                </div>
                            </div>
                            <div class="mini-right">
                                <p class="card-mini-text">Students</p>
                                <h4 class="card-mini-title"><%= Student.all.count %></h4>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="col-sm-3">
            <div class="card card-mini">
                    <div class="card-mini-body">
                        <div class="row">
                            <div class="mini-left">
                                <div class="card-mini-icon card-purple">
                                    <i class="fas fa-book"></i>
                                </div>
                            </div>
                            <div class="mini-right">
                                <p class="card-mini-text">Subjects</p>
                                <h4 class="card-mini-title"><%= Subject.all.count %></h4>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div class="col-sm-3">
            <div class="card card-mini">
                    <div class="card-mini-body">
                        <div class="row">
                            <div class="mini-left">
                                <div class="card-mini-icon card-green" style="padding: 5px 10.5px;">
                                        <i class="fas fa-users"></i>												
                                </div>
                            </div>
                            <div class="mini-right">
                                <p class="card-mini-text">Classes</p>
                                <h4 class="card-mini-title"><%= Schoolroom.all.count%></h4>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>
<!-- Mini-Cards Ends-->

<!-- Chart of Classes-->
<div class="card" style="margin: 1rem 0">
    <div class="card-body">
        <h5 class="card-title">BCC Chart</h5>   
        <canvas id="mainChart" class="chartjs-render-monitor" style="display: block; width: 100%; height: 250px;"></canvas>
    </div>
</div>
<!-- Chart of Classes Ends-->
<div class="row" style="margin: 1rem 0">
    <!-- Students Table -->
    <div class="col-sm-8" style="padding-left: 0">
        <table class="table students-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Average</th>
                </tr>
            </thead>
            <tbody>
                <% Student.all.each do |student| %>
                    <tr class="student-row">
                        <th scope="row"><%= student.id %></th>
                        <td class="student-name"><%= User.find(student.user_id).firstName%> <%= User.find(student.user_id).lastName%></td>
                        <td class="student-class"><%= Schoolroom.find(student.schoolroom_id).name%></td>
                        <td class="student-average">
                            <% Grade.where("student_id=#{student.id}").each do |grade| %>
                                <% @grade << grade.grade%>
                            <% end %>
                            <% if Grade.where("student_id=#{student.id}").count != 0 && @grade != 0 %>
                                <%= @grade.sum / Grade.where("student_id=#{student.id}").count %>
                            <% else %>
                                0
                            <% end %>

                            <% @grade = []%>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <!-- Students Table Ends -->
    <div class="col-sm-4" style="padding-right: 0">
        <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Students Chart</h5>
            <canvas id="studentChart" class="chartjs-render-monitor" style="display: block; height: 200px;"></canvas>
        </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("mainChart").addEventListener("onload", mainChart());
    document.getElementById("studentChart").addEventListener("onload", studentChart());

    function mainChart() {
        var configMain = {
            type: 'line',
            data: {
                labels: ['2016', '2017', '2018', '2019'],
                datasets: [
                    <% @schoolroom_grades.each do |grades| %>
                    {
                        label: '<%= grades.first%>',
                        fill: false,
                        backgroundColor: 'rgba(54, 162, 235, 1)',
                        borderColor:  'rgba(54, 162, 235, 1)',
                        data: <%= grades.last %>,
                    },
                                
                    <% end %>
                ]
            },
            options: {
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Year'
                        }
                    }],
                    yAxes: [{
                        display: false,
                        scaleLabel: {
                            display: false,
                            labelString: 'Average'
                        }
                    }]
                },
                responsive: true
            }
        };
        
        //Creating MainChart
        var chart = document.getElementById('mainChart').getContext('2d');
        window.myLine = new Chart(chart, configMain);
    }

    function studentChart(){
        var configStudent = {
            type: 'radar',
            data: {
                labels: ['APS', 'POO', 'ISD', 'CAL', 'BDI', 'EDI'],
                datasets: [{
                    label: 'Luciano Lima',
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    borderWidth: 2,
                    pointBackgroundColor: window.chartColors.blue,
                    pointBorderColor: window.chartColors.blue,
                    pointRadius: 2,
                    pointHoverRadius: 4,
                    data: [
                        89,
                        28,
                        54,
                        32,
                        85,
                        45
                    ],
                }]
            },
            options: {
                legend: {
                    display: false,
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                responsive: true
            }
        };
            
        //Creating StudentChart
        var chart = document.getElementById('studentChart').getContext('2d');
        window.myLine = new Chart(chart, configStudent);
    }
</script>