<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id_id %>
    <%= form.text_field :student_id_id %>
  </div>

  <div class="field">
    <%= form.label :questionnaire_id %>
    <%= form.text_field :questionnaire_id %>
  </div>

  <div class="field">
    <%= form.label :answers[] %>
    <%= form.text_field :answers[] %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.number_field :grade %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
