<p id="notice"><%= notice %></p>

<% if current_user.admin == true %>
  <!-- New Tests Button -->
  <%= link_to new_subject_path, class:"btn btn-primary" do %>
    <i class="fas fa-plus" style="margin-right: 7.5px"></i>New Subject
  <% end %>
  <!-- New Tests Button Ends-->
<% end %>
    <!-- Test Table -->
    <div style="height: 600px; overflow-y: hidden; border-radius: 10px;">
        <table class="table test-table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">Options</th>
                </tr>
            </thead>

            <tbody>
              <% @subjects.each do |subject| %>
                <tr>
                  <td><%= subject.id %></td>
                  <td><%= subject.subjectName %></td>
                  <td><%= User.find(Teacher.find(subject.teacher_id).user_id).firstName%></td>
                  <td>
                    <div class="table-data-feature">
                      <%= link_to subject, class:"btn btn-primary btn-users user-acc" do %>
                        <i class="fas fa-eye mx-1"></i>Show
                      <%end%>
                      <%= link_to edit_subject_path(subject), :class=>"btn btn-primary btn-users user-acc" do %>
                        <i class="fas fa-edit mx-1"></i>Edit
                      <%end%>
                      <%= link_to subject, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-users user-acc" do %>
                          <i class="fas fa-times mx-1"></i>Delete
                      <%end%>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>
    <!-- Test Table Ends -->
</div>