<%= form_with(model: questionnaire, local: true) do |form| %>
  
  <div class="form-group">
    <label for="subject" class="control-label mb-1">Subject</label>
    <% if current_user.admin == true %>
      <%= form.select :subject_id, Subject.all.collect{|subject| [subject.subjectName, subject.id]}, id:"subject", class:"form-control" %>
    <% else %>
      <%= form.select :subject_id, Subject.find(current_user.subjects).collect{|subject| [subject.subjectName, subject.id]}, id:"subject", class:"form-control" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="num_question" class="control-label mb-1">Number of Questions</label>
        <%= form.number_field :noQuestion, id:"num-question", class:"form-control cc-exp", placeholder:"Enter the number of questions"%>
      </div>
    </div>
  </div>
  <%= form.text_field :user_id, value:current_user.id, class:"d-none"%>
  <div class="modal-footer">
    <%= link_to 'Back', questionnaires_path, class:"btn btn-danger" %>
    <%= form.submit "Save", class:"btn btn-success"%>
  </div>


<% end %>
