<p id="notice"><%= notice %></p>
<%if user_signed_in?%>
    <%= link_to 'Back', questionnaires_path, class:"btn btn-danger" %>
    <%if current_user.role_id == 2%>
        <%= link_to 'Edit Questionnaire', edit_questionnaire_path(@questionnaire), class:"btn btn-secondary" %>
        <%= link_to 'Write Questions', questionnaire_write_path(:id => @questionnaire.id), data: { confirm: 'This option will erase all questions. Are you sure?' }, class: "btn btn-primary" %>
    <% end %>
    <% @array.each do |question| %>
        <%= fields_for 'questions[]', question do |q|%>
            <!-- Questions -->
            <div id="test">
                <div class="question">
                    <div class="card">
                        <div class="card-header"><%= question.num %> Question </div>
                        <div class="card-body" id="enunciate">
                            <% if question.picStatement.attached? %>
                                <div class="tab-content" id="enunciateType" style="margin-top: 10px">
                                    <div class="tab-pane fade show active" id="upload" style="display: unset !important" role="tabpanel" aria-labelledby="upload-tab">                                        
                                        <div class="form-group">
                                            <%= image_tag question.picStatement, class:"w-100"%>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <div class="tab-content" id="enunciateType" style="margin-top: 10px">
                                    <div class="tab-pane fade show active" id="write" role="tabpanel" aria-labelledby="write-tab">
                                        <%= q.text_area :textStatement, class:"form-control disabled", rows:"10", placeholder:"Write the enunciate"%>
                                    </div>
                                </div>
                            <% end %>
                        </div>

                        <div class="card-body">
                            <div class="input-group-prepend">
                                <div class="input-group-text">A</div>
                                <%= q.text_field :altA, class:"form-control disabled", placeholder:"Write the A answer" %>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">B</div>
                                <%= q.text_field :altB, class:"form-control disabled", placeholder:"Write the B answer" %>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">C</div>
                                <%= q.text_field :altC, class:"form-control disabled", placeholder:"Write the C answer" %>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">D</div>
                                <%= q.text_field :altD, class:"form-control disabled", placeholder:"Write the D answer" %>
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">E</div>
                                <%= q.text_field :altE, class:"form-control disabled", placeholder:"Write the E answer" %>
                            </div>
                            <% if current_user.role_id == 2%>
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-check"></i></div>
                                    <%= q.text_field :correctAlt, class:"form-control disabled", placeholder:"Write the correct answer" %>
                                </div>
                            <% end %>
                            <%= q.text_field :questionnaire_id, value:@questionnaire.id, class:"d-none"%>
                        </div>
                        <%if question.textStatement != nil && current_user.role_id == 2 %>
                        <%= link_to 'Edit', edit_question_path(question), class:"btn btn-primary" %>
                        <%= link_to 'Erase', question, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
                        <% end %>
                    </div>  
                </div>
            </div>
            <!-- Questions Ends -->
        <% end %>
    <% end %>
<% else %>
 
    <%= render 'permission'%>

<% end %>
