<div class="card">
    <div class="card-header">
        <h5 class="card-title" style="margin-top: 10px"><%= @user.firstName.to_s%> <%= @user.lastName.camelcase%></h5>
    </div>
    <div class="card-body">
        <div class="media">
            <%if @user.avatar.attached?%>
                <%= image_tag @user.avatar, class:"align-self-center mr-3 account-big", alt:"#{@user.firstName} #{@user.lastName}", size:"200x200" %>
            <% else %>
                <%= image_tag('unknow-user.jpg', class:"align-self-center mr-3 account-big", alt:"#{@user.firstName} #{@user.lastName}", size:"200x200")%>
            <% end %>
            <div class="media-body mx-3">  
                <div class="user-info">
                    <div class="row" style="margin-top: 40px">
                        <div class="col">
                            <p>E-mail: <%= @user.email %></p>
                            <p>Age: <%= Time.now.year - @user.birth.year%> years</p>
                        </div>
                        <div class="col">
                            <% if @user.role_id == 1%>
                                <p>Class: <%= Schoolroom.find(@student.schoolroom_id).name%></p>
                            <% end %>
                            <p>Registration: <%= @user.regNumber %></p>
                        </div>
                        <% if current_user.role_id != 1 %>
                            <div class="col">
                                <% if @user.role_id == 1%>
                                    <%= button_to "Teacher", set_teacher_path(:id => @user.id), method: :put, class:"btn-users user-acc"%>
                                <% else %>
                                    <%= button_to "Student", set_student_path(:id => @user.id), method: :put, class:"btn-users user-acc"%>
                                <% end %><br/>
                                <% if @user.admin%>
                                    <%= button_to "No Admin", set_admin_path(:id => @user.id), method: :put, class:"btn btn-danger btn-users user-acc"%>
                                <% else %>
                                    <%= button_to "Admin", set_admin_path(:id => @user.id), method: :put, class:"btn btn-primary btn-users user-acc"%>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <!-- User's Chart-->
        <div class="card" style="margin: 1rem 0">
            <div class="card-body">
                <h5 class="card-title"><%= @user.firstName%> Chart</h5>
                <canvas id="mainChart" class="chartjs-render-monitor" style="display: block; width: 100%; height: 250px;"></canvas>
            </div>
        </div>
        <!-- User's Chart Ends-->
        <!-- Comments Table -->
        <div style="height: 600px; overflow: hidden; border-radius: 10px;">
            <table class="table comments-table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <div style=" overflow-y: scroll;">
                        <tr>
                        <th scope="row">2019-07-28</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2018-12-05</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">2018-07-22</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <!-- Comments Table Ends -->
    </div>
</div>